<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ post['title'] }}</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
</head>

<body style="margin:0">

<nav>
    <div class="banner"> 
        <a href={{url_for('home')}}>HOME</a>
        <a href={{url_for('articles')}}>RECIPES</a>
    </div>
</nav>








<section class="articles">
    {% block content %}
    <div class="article">

     <div class="left">
       <img src="Baghrir.jpg" alt="">
     </div>

     <div class="right">
       <p class="date">
        {{ post['created'] }}
        </p>
       <h1>{{ post['title'] }}</h1>
       <h5>Ingredients</h5>
    <p class="description"> 
        {{ post['content'] }}
    </p>
    <h5> Preparation</h5>
    <p class="description">
        {{ post['content'] }}
    </p>
    
     <div class="center-right">
       <p class="auteur">Chahrazed.A .Naila .B</p>
     </div>

     </div>
    {% endblock %}  
</div> 
   
   
   
 </section>

<footer>
    <p>&copy; 2022, by Chahrazed AMAR, Naila BOUTERFA</p>
    <div class="social-media">
      <p><i class="fab fa-facebook"></i></p>
      <p><i class="fab fa-twitter"></i></p>
      <p><i class="fab fa-instagram"></i></p>
    </div>
  </footer>
</body>
</html>