<!DOCTYPE html>
<html lang="Fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Projet_site_web</title>
  <link rel="stylesheet" href="style_Projet_site.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
</head>
<body>
  <nav>
    <h1>Recettes</h1>
    <div class="onglets">
      <a href="#">Home</a>
      <a href="#">Formations</a>
      <a href="#">Articles</a>
    </div>
  </nav>
  
  <section class="articles">
    
     <div class="article">
      <div class="left">
        <img src="https://pixabay.com/fr/photos/tiramisu-p%c3%a2tisserie-cuit-bonbons-7030032/" alt="">  <!__ mettre le chemin du document ou le lien de la photo__!>
      </div>
      <div class="right">
        <p class="date">Mai, 07, 2022</p>
        <h1>Tiramissu- La recettes du Tiramissu revisiter </h1>
        <p class="description"> faire un Tiramissu semble tellement compliquer pour certain qu'il n'esseye meme pas de tenater l'expérience, alors que pour vous dire c'est la recette de dessert le plus facile à faire</p>
        <p class="auteur">CH_AMAR</p>
      </div>
    </div> 
    
    
    <div class="article">
      <div class="left">
        <img src="https://pixabay.com/fr/photos/saumon-poisson-fruit-de-mer-l%c3%a9gumes-518032/" alt="">
      </div>
      <div class="right">
        <p class="date">Mai, 07, 2022</p>
        <h1>Pavé de Saumon - Bon plat équilibré est si c'était un défis simple ?</h1>
        <p class="description">Nous souhaitons tous faire des plats équilibrées chez sois, pour une soirée en amoureux , ou pour sois meme. ALors pourquoi pas un bon pavé se saumon griller avec une bonne salade verte garnie de tomate cerise </p>
        <p class="auteur">N,Bouterfa</p>
      </div>
    </div>
    
    <div class="article">
      <div class="left">
        <img src="https://pixabay.com/fr/photos/soupe-citrouille-noix-de-coco-1787997/" alt="">
      </div>
      <div class="right">
        <p class="date">Mai, 05, 2022</p>
        <h1>Soupe citrouille</h1>
        <p class="description">une bonne soupe chaude pour nos réchauffer le temps d'hiver, on a tous une eu envie d'une bonne soupe chaude en hivers dans un temps de pluit, miam miam, alors je vous propose cette recette de soupe de citrouille trés délicieurse que vous pouvez déguster avec des crouton de pain</p>
        <p class="auteur">T, A</p>
      </div>
    </div>
  </section>
  
  <footer>
    <h2>&copy; 2022, by Chahrazed AMAR, Naila Bouterfa, T_Projet</h2>
    <div class="social-media">
      <p><i class="fab fa-facebook"></i></p>
      <p><i class="fab fa-twitter"></i></p>
      <p><i class="fab fa-instagram"></i></p>
    </div>
  </footer>
</body>
</html>