<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking with Chahrazed</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body style="margin: 0">

<div class="banner"> 
    <a href={{url_for('home')}}>HOME</a>
    <a href={{url_for('articles')}}>RECIPES</a>
</div>

<div class="header">
    <h1>Cooking with Chahrazed</h1>
    <p>Easy vegetarian recipes for Algerian food</p>
    <img src="static/img.avif" style="height:600px;">
</div>


<div style="height: 800px; ">
</div>

<footer>
    <p>&copy; 2022, by Chahrazed AMAR, Naila BOUTERFA</p>
    <div class="social-media">
      <p><i class="fab fa-facebook"></i></p>
      <p><i class="fab fa-twitter"></i></p>
      <p><i class="fab fa-instagram"></i></p>
    </div>
  </footer>
</body>

</html>